%ul
  %li= link_to "Build web applications", '/learn-to-program.html'
  %li= link_to "Learn Javascript", "#"
  %li= link_to "Learning Git", "#"
  %li= link_to "Learn Testing (Advanced)", "#"
  %li= link_to "References", "/reference/index.html"
